In [1]:
import pandas as pd

# Load employees
employees = pd.read_csv('employees.csv')

In [2]:
# 1. Group by department and calculate average salary
print(employees.groupby('Dept')['Salary'].mean())

Dept
Finance    65000.0
HR         52500.0
IT         61000.0
Name: Salary, dtype: float64

In [3]:
# 2. Count employees per department
print(employees.groupby('Dept')['EmpID'].count())

Dept
Finance    1
HR         2
IT         2
Name: EmpID, dtype: int64

In [4]:
# 3. Sum of salaries per department
print(employees.groupby('Dept')['Salary'].sum())

Dept
Finance     65000
HR         105000
IT         122000
Name: Salary, dtype: int64

In [5]:
# 4. Multiple aggregation functions
print(employees.groupby('Dept')['Salary'].agg(['min', 'max', 'mean']))

           min    max     mean
Dept
Finance  65000  65000  65000.0
HR       50000  55000  52500.0
IT       60000  62000  61000.0

In [6]:
# 5. Grouping using multiple columns
employees['Gender'] = ['F', 'M', 'M', 'M', 'F']
print(employees.groupby(['Dept', 'Gender'])['Salary'].mean())

Dept     Gender
Finance  M         65000.0
HR       F         50000.0
         M         55000.0
IT       F         62000.0
         M         60000.0
Name: Salary, dtype: float64

In [7]:
# 6. Using `.size()` to count rows per group
print(employees.groupby('Dept').size())

Dept
Finance    1
HR         2
IT         2
dtype: int64

In [8]:
agg_func = {'Salary': ['sum', 'mean'], 'EmpID': 'count'}
print(employees.groupby('Dept').agg(agg_func))

         Salary          EmpID
            sum     mean count
Dept
Finance   65000  65000.0     1
HR       105000  52500.0     2
IT       122000  61000.0     2

In [9]:
# 8. Sorting aggregated values
avg_salary = employees.groupby('Dept')['Salary'].mean().sort_values(ascending=False)
print(avg_salary)

Dept
Finance    65000.0
IT         61000.0
HR         52500.0
Name: Salary, dtype: float64

In [10]:
# 9. Filtering groups (salary > 55000)
grouped = employees.groupby('Dept').filter(lambda x: x['Salary'].mean() > 55000)
print(grouped)

   EmpID   Name     Dept  Salary Gender
1      2    Bob       IT   60000      M
3      4  David  Finance   65000      M
4      5    Eva       IT   62000      F

In [11]:
# 10. Transforming salary to percentage of dept average
employees['PctOfDeptAvg'] = employees.groupby('Dept')['Salary'].transform(lambda x: x / x.mean())
print(employees)

   EmpID     Name     Dept  Salary Gender  PctOfDeptAvg
0      1    Alice       HR   50000      F      0.952381
1      2      Bob       IT   60000      M      0.983607
2      3  Charlie       HR   55000      M      1.047619
3      4    David  Finance   65000      M      1.000000
4      5      Eva       IT   62000      F      1.016393

In [12]:
# 11. Get department with highest paid employee
print(employees.loc[employees['Salary'].idxmax()])

EmpID                 4
Name              David
Dept            Finance
Salary            65000
Gender                M
PctOfDeptAvg        1.0
Name: 3, dtype: object

In [13]:
# 12. GroupBy with `as_index=False`
print(employees.groupby('Dept', as_index=False)['Salary'].mean())

      Dept   Salary
0  Finance  65000.0
1       HR  52500.0
2       IT  61000.0

In [14]:
# Load salaries
#HAndle missing data
salaries = pd.read_csv('salaries.csv')

In [15]:
# 13. Check for null values
print(salaries.isnull())

   EmpID  Bonus    Tax
0  False  False  False
1  False   True  False
2  False  False  False
3  False  False   True
4  False  False  False

In [16]:
# 14. Count missing values per column
print(salaries.isnull().sum())

EmpID    0
Bonus    1
Tax      1
dtype: int64

In [17]:
# 15. Drop rows with any missing values
print(salaries.dropna())

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
2      3  4000.0  2000.0
4      5  5000.0  3000.0

In [18]:
# 16. Fill missing values with a constant
print(salaries.fillna(0))

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
1      2     0.0  2500.0
2      3  4000.0  2000.0
3      4  6000.0     0.0
4      5  5000.0  3000.0

In [19]:
# 17. Fill missing values with column mean
salaries['Bonus'] = salaries['Bonus'].fillna(salaries['Bonus'].mean())
print(salaries)

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
1      2  5000.0  2500.0
2      3  4000.0  2000.0
3      4  6000.0     NaN
4      5  5000.0  3000.0

In [20]:
# 18. Forward fill
print(salaries.fillna(method='ffill'))

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
1      2  5000.0  2500.0
2      3  4000.0  2000.0
3      4  6000.0  2000.0
4      5  5000.0  3000.0

C:\Users\rammohan\AppData\Local\Temp\ipykernel_15612\3746231862.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(salaries.fillna(method='ffill'))

In [21]:

# 19. Backward fill
print(salaries.fillna(method='bfill'))

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
1      2  5000.0  2500.0
2      3  4000.0  2000.0
3      4  6000.0  3000.0
4      5  5000.0  3000.0

C:\Users\rammohan\AppData\Local\Temp\ipykernel_15612\2390353403.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(salaries.fillna(method='bfill'))

In [22]:
# 20. Interpolate missing values (linear)
print(salaries.interpolate())

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
1      2  5000.0  2500.0
2      3  4000.0  2000.0
3      4  6000.0  2500.0
4      5  5000.0  3000.0

In [24]:
# 21. Replace specific value with NaN
import numpy as np
salaries.replace(0, np.nan, inplace=True)
salaries

   EmpID   Bonus     Tax
0      1  5000.0  3000.0
1      2  5000.0  2500.0
2      3  4000.0  2000.0
3      4  6000.0     NaN
4      5  5000.0  3000.0

In [25]:
#Merging and Joining DataFrames
# Load employees and salaries again
employees = pd.read_csv('employees.csv')
salaries = pd.read_csv('salaries.csv')
departments = pd.read_csv('departments.csv')

In [26]:
# 22. Merge employee and salary data on EmpID
merged_df = pd.merge(employees, salaries, on='EmpID')
print(merged_df)

   EmpID     Name     Dept  Salary   Bonus     Tax
0      1    Alice       HR   50000  5000.0  3000.0
1      2      Bob       IT   60000     NaN  2500.0
2      3  Charlie       HR   55000  4000.0  2000.0
3      4    David  Finance   65000  6000.0     NaN
4      5      Eva       IT   62000  5000.0  3000.0

In [27]:
# 23. Inner join (default)
print(pd.merge(employees, salaries, on='EmpID', how='inner'))

   EmpID     Name     Dept  Salary   Bonus     Tax
0      1    Alice       HR   50000  5000.0  3000.0
1      2      Bob       IT   60000     NaN  2500.0
2      3  Charlie       HR   55000  4000.0  2000.0
3      4    David  Finance   65000  6000.0     NaN
4      5      Eva       IT   62000  5000.0  3000.0

In [28]:
# 24. Left join
print(pd.merge(employees, salaries, on='EmpID', how='left'))

   EmpID     Name     Dept  Salary   Bonus     Tax
0      1    Alice       HR   50000  5000.0  3000.0
1      2      Bob       IT   60000     NaN  2500.0
2      3  Charlie       HR   55000  4000.0  2000.0
3      4    David  Finance   65000  6000.0     NaN
4      5      Eva       IT   62000  5000.0  3000.0

In [29]:
# 25. Right join
print(pd.merge(employees, salaries, on='EmpID', how='right'))

   EmpID     Name     Dept  Salary   Bonus     Tax
0      1    Alice       HR   50000  5000.0  3000.0
1      2      Bob       IT   60000     NaN  2500.0
2      3  Charlie       HR   55000  4000.0  2000.0
3      4    David  Finance   65000  6000.0     NaN
4      5      Eva       IT   62000  5000.0  3000.0

In [30]:
# 27. Merge with different column names
departments.rename(columns={'DeptName': 'Dept'}, inplace=True)
merged_with_dept = pd.merge(employees, departments, on='Dept')
print(merged_with_dept)

   EmpID     Name     Dept  Salary  DeptID       Location
0      1    Alice       HR   50000       1       New York
1      2      Bob       IT   60000       2  San Francisco
2      3  Charlie       HR   55000       1       New York
3      4    David  Finance   65000       3        Chicago
4      5      Eva       IT   62000       2  San Francisco

In [31]:
# 28. Merge with suffixes
salaries_copy = salaries.copy()
salaries_copy.rename(columns={'Bonus': 'Bonus_copy'}, inplace=True)
print(pd.merge(salaries, salaries_copy, on='EmpID', suffixes=('_old', '_new')))

   EmpID   Bonus  Tax_old  Bonus_copy  Tax_new
0      1  5000.0   3000.0      5000.0   3000.0
1      2     NaN   2500.0         NaN   2500.0
2      3  4000.0   2000.0      4000.0   2000.0
3      4  6000.0      NaN      6000.0      NaN
4      5  5000.0   3000.0      5000.0   3000.0

In [32]:
# 29. Join using index
salaries.set_index('EmpID', inplace=True)
employees.set_index('EmpID', inplace=True)
print(employees.join(salaries))

          Name     Dept  Salary   Bonus     Tax
EmpID
1        Alice       HR   50000  5000.0  3000.0
2          Bob       IT   60000     NaN  2500.0
3      Charlie       HR   55000  4000.0  2000.0
4        David  Finance   65000  6000.0     NaN
5          Eva       IT   62000  5000.0  3000.0

In [33]:
# 30. Reset index after join
joined_df = employees.join(salaries).reset_index()
print(joined_df)

   EmpID     Name     Dept  Salary   Bonus     Tax
0      1    Alice       HR   50000  5000.0  3000.0
1      2      Bob       IT   60000     NaN  2500.0
2      3  Charlie       HR   55000  4000.0  2000.0
3      4    David  Finance   65000  6000.0     NaN
4      5      Eva       IT   62000  5000.0  3000.0